<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.mehrdadseyfi.a7habit">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ACCESS_NETWORK_STATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="sugar3.db" />
        <meta-data
            android:name="VERSION"
            android:value="10" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="ir.mehrdadseyfi" />
        />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".GoalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ChecklistActivity" />
        <activity android:name=".LongGoalActivity" />
        <activity android:name=".ShotGoalActivity" />
        <activity
            android:name=".Dialog"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".BadHabitActivity" />
        <activity
            android:name=".DialogBadHabitAddActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".DialogBadHabitShowActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".Esstinal.Noemergency.NEmergencyEssntialDialogActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".Esstinal.Noemergency.NoEmergencyEssntialShowEditActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".NOEmergencyNoEsstial.NOEmergencyNoEsstialDialogActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".NOEmergencyNoEsstial.NOEmergencyNoEsstialShowEditActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".NOEsstianlEmergency.EmergencyNOEssntialShowEditActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".NOEsstianlEmergency.NOEsstianlEmergencyDialogActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".SquareTasksActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            >
        </activity>
        <activity
            android:name=".Vista.AddDialogActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".Emegency.EmergencyEssntialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Esstinal.Noemergency.NoEmergencyEssntialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NOEmergencyNoEsstial.NOEmergencyNoEsstialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".NOEsstianlEmergency.NOEsstianlEmergencyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Emegency.EmergencyEssntialDialogActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".Emegency.EmergencyEssntialShowEditActivity"
            android:theme="@style/mytheme" />

        <receiver
            android:name=".Emegency.MyReceiver"
            android:process=".alarm" />
        <receiver
            android:name=".Emegency.NeeMyReceiver"
            android:process=".alarm" />
        <receiver
            android:name=".NOEmergencyNoEsstial.NOEmergencyNoEsstialMyReceiver"
            android:process=".alarm" />
        <receiver
            android:name=".NOEmergencyNoEsstial.NOEsstianlEmergencyMyReceiver"
            android:process=".alarm" />

        <service
            android:name=".Emegency.AlarmNotificationService"
            android:process=".alarm" />
        <service
            android:name=".Esstinal.Noemergency.AlarmNotificationServiceENE"
            android:process=".alarm" />
        <service
            android:name=".NOEmergencyNoEsstial.AlarmNotificationServiceNOEmergencyNoEsstial"
            android:process=".alarm" />
        <service
            android:name=".NOEsstianlEmergency.AlarmNotificationServiceNOEsstianlEmergency"
            android:process=".alarm" />
        <service
            android:name=".AlarmSoundService"
            android:process=".alarm" />

        <activity
            android:name=".Vista.VistaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vista.ShowGoalRoleActivity"
            android:theme="@style/mytheme" />
        <activity
            android:name=".Vista.EdirDreamActivity"
            android:theme="@style/mytheme" />
        <activity android:name=".ActivsionActivity" />
        <activity
            android:name=".action.ScormPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard"
            android:label="@string/app_name" />
        <activity android:name=".action.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Calender.CalenderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".Calender.AddJobActivity"
            android:theme="@style/mytheme"/>
        <activity
            android:name=".Calender.ShowDayJobActivity"
            android:theme="@style/mytheme" />
        <activity android:name=".Vista.EditGoalActivity"
            android:theme="@style/mytheme"    />
        <activity android:name=".Calender.EditJobActivity"></activity>
    </application>

</manifest>